<%= form_for @changeset, taxi_path(@conn, :create), fn f ->%>
  <%= input f, :cpf%>
  <%= input f, :email%>
  <%= input f, :password%>
  <%= input f, :phone%>
  <%= input f, :smtt%>
  <%= input f, :active%>

  <%= submit "Criar", class: "btn btn-primary"%>
<% end %>